/* Configurações Gerais */

body{
    background-color:#31233e;
    height:868px;
    width:1440px;
    margin: 0;
}

/* Título e Cabeçalho */

header{
    width: 100%;
    height: auto;
}

.responsive-header{
    width: 100%;
    height: auto;
}

/* Card */

/* Imagem */


/* Título e Ano */


/* Popularidade */