/* Paleta de cores

.verde-claro { #d1dab9 };
.verde { #92bea5 };
.grafite { #6f646c };
.bordô { #671045 };
.roxo { #31233e };

/* Configurações Gerais - Mobile First */

body{
    background-color:#31233e;
    margin: 0;
}

/* Título e Cabeçalho */
header{
    padding: 40px;
    background-image: url(./assets/6F646C.png);
    background-repeat: repeat-x;
}

.cabecalho {
    text-align: center;
    color: #92bea5;
    font-size: 4.1rem;
    text-shadow: 0 0 1px #d239e0, 0 0 2px #d1dab9, 0 0 6px #92bea5, 0 0 8px #dd1ddd, 0 0 10px #671045, 0 0 12px #9b50e0, 0 0 14px #d341cc;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Lista */
ul {
  list-style-type: none;
  margin-top: 140px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-list {
    display: flex;
    justify-content:space-around;
    row-gap:40px;
}

/* Card */
.movie-container {
    background-color:#671045;
    max-height:140px;
    max-width:400px;
    padding: 40px 250px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius:10px;
    margin: 20px;
}

.movie-info{
    height:150px;
    width:800px;
}

/* Imagem */
.movie-poster {
    height:200px;
    width:150px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius:5px;
    display: inline-block;
}

/* Título e Ano */
.title-year {
    color:#d1dab9;
    text-align:left;
    vertical-align:text-top;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    line-height:auto;
    border-style:hidden;
    outline:none;
    max-width:250px;
    display: inline-block;
}

/* Popularidade */
.popularity {

}

/* Footer */


/* Configurações Gerais - Desktop */

body{
}

/* Título e Cabeçalho */
header{
}

.responsive-header{
}

/* Lista */
ul {
}

.movie-list {
}

/* Card */
.movie-container {
}

.movie-info{
}


/* Imagem */
.movie-poster {
}

/* Título e Ano */
.title-year {
}

/* Popularidade */
.popularity {
}

/* Footer */

